# Virtual environment
.venv/

# Data folder (where datasets are temporarily stored)
data/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/

# System-specific files
.DS_Store